{:host-virkailija "http://localhost"
 :db {:schema "public"
      :servername "localhost"
      :databasename "test"
      :username "test"
      :password "test"
      :maximum-pool-size 4
      :port 55432}
 :mongo {:uri "mongodb://localhost:27017/admin"}
 :server {:port 8080}
          :base-url "/valintapiste-service"
 :dev? true
 :proxy-users "valintalaskentakoostepalvelu"
 :siirtotiedostot {:aws-region "eu-west-1"
                   :s3-bucket "testi-siirtotiedostot"
                   :s3-target-role-arn "arn:aws:iam::xxxxxxxxxxxx:role/opintopolku-s3-cross-account-role"
                   :max-hakemuscount-in-file 10000}}
