{:host-virkailija "http://localhost"
 :db {:schema "public"
      :servername "localhost"
      :databasename "valintapiste_test"
      :username "test"
      :password "test"
      :maximum-pool-size 4
      :port 5432}
 :mongo {:uri ""}
 :server {:port 8080}
          :base-url "/valintapiste-service"
 :proxy-users "valintalaskentakoostepalvelu"
 :dev? true}
