{:host-virkailija "https://{{host_virkailija}}"
 :db {:schema "public"
      :servername "{{host_postgresql_valintapisteservice}}"
      :databasename "{{host_postgresql_valintapisteservice_dbname}}"
      :username "{{postgres_app_user}}"
      :password "{{host_postgresql_valintapisteservice_app_password}}"
      :maximum-pool-size {{host_postgresql_valintapisteservice_max_active}}
      :port {{host_postgresql_valintapisteservice_port}}}
 :valintapiste-cas-username "{{valintalaskentakoostepalvelu_app_username_to_haku}}"
 :valintapiste-cas-password "{{valintalaskentakoostepalvelu_app_password_to_haku}}"
 :proxy-users "{{valintapisteservice_proxy_users}}"
 :mongo {:uri "mongodb://{{mongodb_hakemus_auth}}@{{mongodb_hakemus_host}}/hakulomake"}
 :server {:port {{palvelu_portti}}
          :base-url "/valintapiste-service"}}
