{:host-virkailija "https://{{host_virkailija}}"
 :db {:schema "public"
      :servername "{{valintapisteservice_db_host}}"
      :databasename "{{valintapisteservice_db_name}}"
      :username "{{valintapisteservice_db_username}}"
      :password "{{valintapisteservice_db_password}}"
      :maximum-pool-size 10
      :port {{valintapisteservice_db_port}}}
 :server {:port {{palvelu_portti}}
          :base-url "/valintapiste-service"}}
